@charset "UTF-8";
body{
	background-color: #aa1e1b; 
}
section{
	background-color : #fff;
	text-align: center;
	width:60%;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
	padding-top : 50px;
}
.menuDiv{
	text-align: center;
	display:inline-block;
	margin:5px;
}
.menu button {
    overflow: visible;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #aa1e1b;
    text-transform: uppercase;
    background: #ffd500;
    border-radius: 3px;      
	margin : 10px;
}
.add input{
	margin:10px;
	color: #333;
	width: 500px;
	height: 30px;
	border-radius:8px;
	padding:5px;
}
.add button {
    overflow: visible;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #aa1e1b;
    text-transform: uppercase;
    background: #ffd500;
    border-radius: 3px;      
	margin : 10px;
}
